[submodule "inet"]
	path = inet
	url = git@github.com:CoRE-RG/inet.git
[submodule "NIDSDatasetCreation"]
	path = NIDSDatasetCreation
	url = git@github.com:CoRE-RG/NIDSDatasetCreation.git
[submodule "PyNADS"]
	path = PyNADS
	url = git@github.com:CoRE-RG/PyNADS.git
